body {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #000;
    color: #fff;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.text-container {
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    line-height: 1.2;
    margin: 200px 0;

}

.navbar a {
    color: #fff;
}

.navbar {
    background-color: #000 !important;
    margin: 0 5%;
}

.nav-link,
.navbar-brand span {
    color: #fff !important;
}

.nav-link:hover,
.navbar-brand span:hover {
    color: #ccc !important;
}

.navbar-toggler {
    border-color: #fff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar ul li {
    margin-left: 30px;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.tags span {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 0.9em;
    font-weight: bold;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    margin: 15px 0;
}

.description {
    font-size: 1em;
    line-height: 1.5;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.read-more {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.read-more::after {
    content: '→';
    margin-left: 5px;
}

.date {
    font-size: 0.9em;
    color: #ccc;
}

.card-box {
    display: flex;
    gap: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

.wp-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 80px;
    margin: 40px 0 40px 20px;
}

.header-p {
    margin-left: 20px;
}

h2 {
    font-size: 30px;
    margin: 80px 0 20px 0;
    text-align: center;
}

h3 {
    font-size: 22px;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.col a {
    color: #fff;
    background-color: rgb(15, 100, 134);
    padding: 10px 40px;
}

.right {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 250px;
    font-size: 50px;
    flex-wrap: wrap;
}

.right a {
    color: #fff;
}

.section-title {
    color: grey;
    font-weight: bold;
    margin-top: 20px;
    text-transform: lowercase;
}

.link {
    font-size: 28px;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    display: block;
    transition: color 0.3s;
}

.link:hover {
    color: grey;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.hero-content {
    color: white;
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero-content .btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-image {
    flex: 1;
    background: url(announce.png) no-repeat center center/cover;
    min-height: 400px;
}

.addy {
    word-wrap: break-word;
}

.burnpit-con ul {
    margin: 0 20px;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-section {
        flex-direction: column;
        display: flex;
        flex-direction: column-reverse;
    }

    .reverse-layout .hero-image {
        display: none;
    }

    .reverse-layout {
        display: block;
    }

    .hero-content,
    .hero-image {
        flex: none;
        width: 100%;
    }

    .text-container {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .container h1 {
        font-size: 60px;
    }

    .title {
        font-size: 80px;
    }
}